@font-face {
  font-family: 'Awesome';
  src: url('./fonts/Awesome-Semibold.otf') format('opentype');
}
.waitingFormClass {
  -webkit-transition: text-shadow 1s linear;
  -moz-transition: text-shadow 1s linear;
  -ms-transition: text-shadow 1s linear;
  -o-transition: text-shadow 1s linear;
  transition: text-shadow 1s linear;
}
.waitingFormClass:hover,
.waitingFormClass.glow {
  text-shadow: 0 0 10px red;
}

.showSearchResultsClass {
  color: rgb(5, 212, 142);
  text-align: center;
  left: 50%;
  font-size: 26px;
  padding: 24px;
}

.waitingFormClass {
  color: white;
  text-align: center;
  left: 50%;
  font-size: 26px;
  padding: 24px;
  width: 40%;
  text-shadow: 1px 1px 2px black, 0 0 25px lightgreen, 0 0 5px darkgreen;
  font-family: 'Awesome';
}

.allWorkplacesNumber {
  font-size: 22px;
  text-align: right;
  color: white;
  padding: 28px;
  font-size: 32px;
}

.multiSelectContainer {
  padding: 20px;
  width: 25%;
  display: block;
  color: green;
}

.multiSelectContainer > option {
  color: green;
}

.Multiselect {
  color: black;
}

.Multiselect > option {
  color: green;
}

/* .AutoCompleteInput {
} */

.suggestion-active {
  color: rgb(5, 212, 142);
}

.DropdownmenusButton {
  color: rgb(5, 212, 142);
  background-color: #049a78;
}

.DropdownmenusButton:hover {
  background-color: #049a78;
}

.upRightPictureStyle {
  padding: 20px;
  position: absolute;
  right: 0px;

  width: 25%;
  align: right;
}

/* upLeftPictureStyle
DropdownMenu */

.SearchField {
  padding: 60px;
  position: fixed;

  left: 50%;
  top: 0%;
  text-align: center;
}

.DropdownMenu1 {
  color: white;
  background-color: #049a78;
}

.DropdownItem:hover {
  background-color: rgb(5, 212, 142);
}

.DropdownToggle {
  color: white;
  background-color: #049a78;
  font-family: 'Awesome';
}

.DropdownToggle:hover {
  background-color: rgb(5, 212, 142);
}

.DropdownItem {
  color: white;
  background-color: #049a78;
}

.sideByside {
  display: flex;
  flex-direction: row;
}

.aw_logo_center {
  top: 100%;
  width: 60%;
  height: 320px;
  padding: 25px;
}

.carousel-inner > .item,
.item.active,
.item.active.left,
.item.active.right {
  position: fixed;
  width: 100%;
  left: 50%;
  top: 20%;
  font-size: 50px;
  font-family: 'Awesome';
  color: #012d28;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.719);
  filter: drop-shadow(8px 8px 10px gray);
  text-align: center;
}

.Carousel > .Carousel,
.CarouselItem {
  position: fixed;
  width: 100%;
  height: 500px;
  /* left: 50%; */
  top: 20%;
  font-size: 50px;
  font-family: 'Awesome';
  color: #012d28;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.719);
  filter: drop-shadow(8px 8px 10px gray);
  text-align: center;
}

.Workplaces1 {
  text-align: center;
  font-size: 25px;
  font-family: 'Awesome';
  position: relative;
  height: 500px;
}

.picture {
  display: block;
  text-align: center;
  vertical-align: middle;
  top: 90%;
}

.Workplaces2 {
  top: 50%;
  font-size: 25px;
  font-family: 'Awesome';
}

body,
html {
  font-family: 'Awesome';
  height: 100%;
  background-image: url('./Images//AW_image17_1200x600px.jpg');

  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.Information {
  font-size: 22px;
  text-align: right;
  color: white;
  padding: 28px;
}
.kaupunki {
  color: #012d28;
  font-size: 40px;
  position: absolute;
  top: 400px;
  left: 0;
  right: 0;
  text-align: center;
}
.nimike {
  position: absolute;
  top: 240px;
  left: 0;
  right: 0;
  text-align: center;
  color: #049a78;
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
}
.logo {
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  text-align: center;
}

.bigger {
  font-size: 200%;
  color: rgb(5, 212, 142);
}

.logoStyle {
  max-height: 210px;
  min-height: 160px;
  max-width: 500px;
}

/* <--Aikaisempia--> */

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
